* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
  list-style: none;
}

body {
  background-image: linear-gradient(to bottom, #04082793, #6a737a);
  min-height: 100vh;
  font-family: 'Libre Baskerville', serif;
  display: flex;
  flex-direction: column;
}

.books-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

input {
  border: 1px solid greenyellow;
}

.book-div {
  width: 80%;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  column-gap: 10px;
  background-color: black;
  color: white;
  padding: 12px;
  align-items: center;
  border-radius: 8px;
}

button {
  padding: 3px;
  border: 0.6px solid grey;
  width: 60px;
  height: 30px;
  border-radius: 8px;
  background-color: white;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 10%;
}

.form-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  gap: 20px;
}

.form-container input {
  width: 50%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
}

.form-container input::placeholder {
  font-size: 20px;
}

.form-container button {
  width: 10%;
  height: 60px;
  font-size: 20px;
  background-color: greenyellow;
  cursor: pointer;
}

.header {
  width: 100%;
  margin-top: 0;
  height: 100px;
  background-color: rgb(37, 35, 35);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title1 {
  font-size: 30px;
  color: rgb(151, 93, 93);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.nav-bar-li {
  color: rgb(116, 150, 220);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  border-radius: 13px;
}

h2 {
  display: block;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

.dis-none {
  display: none !important;
}

.title2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 29px;
  font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

.contactinfo-section {
  display: flex;
  flex-direction: column;
}

.time {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.time span {
  font-size: 24px;
  line-height: 40px;
  color: white;
}

.contactinfo-section p {
  width: 50%;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  padding: 20px;
  line-height: 50px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
}

.footer span {
  color: #fff;
  font-size: 0.9em;
}

.contactinfo-section p span {
  color: rgb(199, 67, 67);
  font-size: 22px;
}

#booklistsection {
  padding-bottom: 50px;
}

.footer {
  position: fixed;
  display: flex;
  text-align: start;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: rgb(37, 35, 35);
  padding: 12px;
}
